<div class="container">
    <div class="row">
  
  
      <div class="col-md-6 mt-3">
  
  
  
        <form action="/admin/add-cataBanner" method="post"  enctype="multipart/form-data">
          <p id="existError text-danger"></p>
          <div class="form-group">
            <p class="text-danger"></p>
            <label for="Name">title</label>
            <input type="text" name="title" id="name" class="form-control">
          </div>
          <div class="form-group">
  
            <label for="exampleInputName1">Url</label>
            <input type="text" name="url" id="name" class="form-control">
          </div>
          
          <div>
            <p class="text-danger"></p>
            <label for="">Image</label>
            <input type="file" id="image" name="image"class="form-control">
          </div>
  
  
  
          <button type="submit"   class="btn btn-primary mt-3" value="Upload">Upload</button>
          <a href="#" class="btn btn-light mt-3">cancel</a>
  
        </form>
  
  
  
  
  
      </div>
  
    </div>
  </div>
