<div class="col-md-6 offset-md-3">
    <span class="anchor" id="formChangePassword"></span>
    <hr class="mb-5">

    <!-- form card change password -->
    <div class="card card-outline-secondary ">
        <div class="card-header pb-3">
            <h3 class="mb-0">Change Password</h3>
        </div>
        <div class="card-body">
            <form class="form" role="form" autocomplete="off">
                <div class="form-group">
                    <p class="text-danger" id="error1"></p>
                    <label for="inputPasswordOld">New Password</label>
                    <input type="password" class="form-control" id="newpassword" >
                </div>
                <div class="form-group">
                    <p class="text-danger" id="error"></p>
                    <p class="text-danger" id="error2"></p>
                    <label for="inputPasswordNew">Confirm password</label>
                    <input type="password" class="form-control" id="confirmpassword">
                    <span class="form-text small text-muted pt-2">
                        To confirm, type the new password again.                        </span>
                </div>
                <div class="form-group">
                    <button type="button" onclick="validation()" class="btn btn-success btn-lg float-right">Save</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /form card change password -->

</div>

<script>


function validation()
{
let newpassword=document.getElementById('newpassword').value.trim()
let confirmpassword=document.getElementById('confirmpassword').value.trim()
let err1=document.getElementById('error1')
err1.innerText=""

let err2=document.getElementById('error2')
err2.innerText=""
let err3=document.getElementById('error')
err3.innerText=""



let flag=1

if(newpassword==""){
    err1.innerText="please enter new password"
    flag=2
}
else if(confirmpassword==""){
    err2.innerText="please confirm the password"
    flag=2

}
else if(newpassword!=confirmpassword){
    err3.innerText="password not match"
    flag=2
}

if(flag==1){
    submit(newpassword,confirmpassword)
}

}

function submit(newpass,confirmpass){

    fetch('/passwordChange',{
        method: "post",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                newpassword: newpass,
                confirmpassword: confirmpass,
            })
        }).then((res)=>res.json())
        .then((res)=>{
            if(res.status){
      window.location.href='/login'
            }else{
                alert('wrong in forgot pass')
            }
        })

        

}


</script>