<section>
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/products">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Product Management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">
              <i class="icon-columns ti-user mr-3"></i>
              <span class="menu-title"> User Management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/category">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">catogory management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/admin/orders" >
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Order management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/admin/sales-report" >
              <i class="icon-contract menu-icon"></i>
              <span class="menu-title">Sales management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/admin/banner-management">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Banner management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/admin/coupon">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Coupon managemet</span>
            </a>  
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
            
              <span class="menu-title">Documentation</span>
            </a>
          </li> -->
        </ul>
      </nav>
</section>